@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}


/*-------------Background-------------*/
.h_1 {
  font-weight: 900;
  font-size: 3rem;
}
.h_2{
  font-weight: 700;
  font-size: 2.5rem;
}
#background {
  background-color: #f1f1f1;
  background-attachment: fixed;
}

.f-w-container {
  width: 90%;
  background-color: #fff;
  margin: 0 auto;

}

.container {
  padding-top: 20px;
}

ul>li {
  display: flex;

}

.coursal-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.imgcontainer {
  overflow: hidden;
  height: 100%;
  width: 50%;
  position: absolute;
}

.imgcontainer {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.element {
  font-weight: 700;
  font-size: 4rem;
  
}

/* search bar */

.searchbar {
  margin-top: auto;
  height: 60px;
  background-color: #0C69D9;
  border-radius: 12px;
  padding: 10px;
  margin-top: -20px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

}


.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #107afd;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: transparent;
  color: white;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fdfeff;
  font-size: 1.8rem;
  text-decoration: none;
}

/* search bar */



.blu {
  color: #01ACBF;
  font-size: 4rem;
  font-weight: 900;

}

/*---------Navigation Bar--------------*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

#nav-bar {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navbar-brand img {
  height: 50px;
  padding-left: 5px;
}

.navbar-nav li {
  padding: 0 15px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #555 !important;
  transition: all ease 0.5s;
}

.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  color: #1a7ae0 !important;
  font-weight: 600;
  font-size: 16px;
}

.header-btn {
  text-decoration: none !important;
  border-radius: 30px;
  padding: 7px 15px 7px 10px;
  float: right;
  color: #fff !important;
  background: #107afd;
  font-weight: 600;

}

.fa {
  margin: 0 5px;
}

.dropdown-menu {

  list-style: none;
  padding: 0;
}

.dropdown-menu.show {
  display: flex;
}


/*-------------------Side Bar---------------------*/
.sidebar {

  background-color: #fff;
  height: 100%;
  overflow: auto;
  border-radius: 12px;
}

.sidebar {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.sidebar a {
  display: block;
  padding: 14px;
  border-bottom: 1px solid #efefef;
  font-weight: 600;
  font-size: 16px;
  color: #696969;
}

a:last-child {
  border: none;
}

.sidebar a.active {
  background-color: #0A79DF;
  color: white;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #0A79DF;
  color: white;
  text-decoration: none;
}

.sidebar .fa {
  padding-left: 3px;
  padding-right: 6px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* cards */

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-overlay button {
  display: none;
}

.card:hover .card-overlay button {
  display: block;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

/* Custom CSS for responsiveness */
@media (max-width: 576px) {
  .row-cols-md-2 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .row-cols-lg-3 .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*-------------------Ad.Carosel---------------------*/

#slider {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.car-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background-color: #fff;
  position: relative;
  left: -20px;
}

.car-card-img-top {
  width: 100%;
  height: 20%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.car-card-body {
  padding: 20px;
}

.car-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.car-card-text {
  font-size: 16px;
}

/*-----------------------------Grid----------------------*/
.product {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product:hover {
  transform: translateY(-5px);
}

/* Custom styling for headings */
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#grid {
  padding-top: 40px;
}

.row {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

h3,
p {
  font-size: 15px;
  margin-top: 15px;
  color: black;
}

.product {
  padding: 25px;
  background-color: #fff;
}

.product-img {
  width: 60px;
}

.product-name {
  width: 100%;
  height: 100%;

}

.product h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
}

.product {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.product:hover {
  transform: scale(1.1);
}

/*-------------------Get in Touch-----------------*/
#contact {
  background: #efefef;
  padding: 15px;
  color: #777;

}

#contact h3 {
  color: #696969 !important;
  padding: 10px;

}

.contact-form {
  padding: 15px;
}

.form-control {
  border-radius: 0 !important;
  border: none !important;
}

::placeholder {
  color: #999 !important;
}

.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}

.contact-info .fa {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}

.fa-youtube-play,
.fa-google-plus {
  color: red !important;
}

/*---------------------------Services-----------------------------*/
#services {
  background: #757575;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #efefef !important;
  margin-top: 30px;

  /*
  background-size: cover;
  background-position: center;
  */

}

#services h3 {

  color: #efefef !important;
  padding: 10px;

}

#services h6 {
  text-align: center;
  color: #efefef !important;
}

.icon {
  font-size: 30px;
  margin: auto;
  padding: 20px;
  height: 80px;
  width: 80px;
}

#services p {
  font-size: 14px;
  color: #ccc;
}

.row .col-md-2:hover {
  background: #424242;
  cursor: pointer;
  transition: 0.5s;

}


.api-cards1 {
  display: flex;
  gap: 45px;
  height: 65vh;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: all ease 0.3s;
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.sub-cards {
  height: 60vh;
  width: 50vh;
  background-color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: all ease 0.3s;
  box-shadow: 0 0 0 1px grey;
}

.sub-cards:hover {
  box-shadow: 0 0 8px 1px grey;
}

.card-header {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}


/* counter */

.counter {
  background-color: #e0dbdb9c;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-3x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #00aeff;
}

/* cardz */
.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.outer_card{
  border-radius: 20px;
}

/* Custom CSS for responsiveness */
.cardz {
  display: flex;
}

@media (max-width: 676px) {
  .cardz {
    flex-direction: column;
  }

  .cardz .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.hoverable-card {
  transition: transform 0.2s;
}

.hoverable-card:hover {
  transform: scale(1.05);
}

/*----------------------------Footer----------------------*/


.footer {
  padding: 15px;
  background: rgb(69, 76, 87);
  background: linear-gradient(90deg, rgba(69, 76, 87, 1) 0%, rgba(84, 90, 100, 1) 35%);
  color: #fff;
  display: flex;
  justify-content: space-;
  align-items: center;
}

.footer-logo {
  width: 150px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer h4 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer p {
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}

.footer .fa {
  padding-right: 10px;
  font-size: 15px;
}

.footer hr {
  margin-top: 10px;
  background: #efefef;
  width: 100%;
  border: none;
  height: 1px;
}

.footer .copyright {
  text-align: center;
  color: white;

}

.youtube {
  color: red;
  font-size: 20px;
}

.facebook {
  color: rgb(2, 83, 129);
  font-size: 20px;

}

.twitter {
  color: rgb(64, 210, 255);
  font-size: 20px;
}

.social {
  color: #ffffff;
  margin-bottom: 10px;
}

.phone {
  color: #0F7CDF;
}

.home {
  color: #0F7CDF;
}

.envelope {
  color: #0F7CDF
}

.handshake {
  color: #0F7CDF;
  font-size: 20px;
}

.star {
  color: #0F7CDF;
  font-size: 20px;

}

.xmark {
  color: #0F7CDF;
  font-size: 20px;

}